---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, subtitle, logoUrl, videoUrl } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <style>
    /* Reset default body margins and paddings */
    body {
      margin: 0;
      padding: 0;
      font-family: sans-serif; /* Add a default font family */
    }
  </style>
</head>
<body>
  <Header title={title} subtitle={subtitle} logoUrl={logoUrl} videoUrl={videoUrl} />
  <main>
    <slot />
  </main>
  <Footer>
</body>
</html>


